{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animated Login From</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/stylee.css' %}" />
</head>
<body>
    <div class="login_form_container">
        <div class="login_form">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input_group">
                    <i class="fa fa-user"></i>
                    <input type="text" name="username" placeholder="Username" class="input_text" autocomplete="off" />
                </div>
                <div class="input_group">
                    <i class="fa fa-unlock-alt"></i>
                    <input type="password" name="password" placeholder="Password" class="input_text" autocomplete="off" />
                </div>
                <div class="button_group" id="login_button">
                    <button type="submit">Login</button>
                </div>
            </form>
            {% for message in messages %}
            <h5 style="text-align: center; margin-top: 15px; color: red;">{{message}}</h5>
            {% endfor %}
            <div class="fotter">
                <a>If you don't have account ...!</a>
                <a href="{% url 'accounts:signup' %}">SingUp</a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'js/scriptt.js' %}"></script>
</body>
</html>