{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{jop}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="imageofjop">
                                    <img style="width: 80px; height: 80px; margin-right: 10px; border-radius: 5px;" src="{{jop.image.url}}" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#" class="text-decoration-none"><h4>{{jop}}</h4></a>
                                    <span class="text-success font-weight-bold"><img src="{% static 'img/blank-profile-picture.png' %}" style="width: 37px; height: 37px; border-radius: 50%;"> </span><a href="/accounts/profile/{{jop.owner}}" class="text-decoration-none"> &nbsp;{{jop.owner.get_full_name}}</a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> {{jop.place}}</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i>{{jop.Jop_Type}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    {% if jop.owner == user %}
                                    <div class="dropdown show">
                                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Update Or Delete
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="{% url 'jops:jop_details_edit' jop.slug %}">Edit Your Jop</a>
                                            <a class="dropdown-item" href="{% url 'jops:jop_delete' jop.slug %}">Delete</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Job description</h4>
                            <p>{{jop.Description}}</p>
                        </div>
                    </div>
                    {% if user.is_staff == False %}
                    <div class="apply_job_form white-bg">
                        <h4>Apply for the job</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                            {% endbuttons %}
                        </form>
                    </div>
                    {% endif %}
                    </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Job Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Published on: <span>{{jop.Published_at|date:'d M o'}}</span></li>
                                <li>Vacancy: <span>{{jop.Vacancy}} Position</span></li>
                                <li>Experance: <span>{{jop.Experiance}} Years</span></li>
                                <li>Salary: <span>{{jop.Salary}} $</span></li>
                                <li>Location: <span>{{jop.place}}</span></li>
                                <li>Job Nature: <span> {{jop.Jop_Type}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="py-4">
                        <section style="text-align: center; color: rgb(127, 127, 209); font-size: larger; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Share at this map:</section>
                    </div>
                    <div class="job_location_wrap">
                        <div class="job_lok_inner">
                            <div id="map" style="height: 200px;"></div>
                            <script>
                            function initMap() {
                                var uluru = {lat: -25.363, lng: 131.044};
                                var grayStyles = [
                                {
                                    featureType: "all",
                                    stylers: [
                                    { saturation: -90 },
                                    { lightness: 50 }
                                    ]
                                },
                                {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                                ];
                                var map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: -31.197, lng: 150.744},
                                zoom: 9,
                                styles: grayStyles,
                                scrollwheel:  false
                                });
                            }
                            
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}