{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chance Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
        .popup
        {
            width: 400px;
            background: rgb(222, 186, 186);
            border-radius: 10px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%) scale(1);
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            visibility: visible;
            transition: all 1s ease-in-out;
        }
        .popup img
        {
            width: 100px;
            margin-top: -50px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        }
        .popup h2
        {
            font-size: 38px;
            font-weight: 500;
            margin: 10px 0 10px;
        }
        .popup p
        {
            font-size: 25px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            color: green;
        }
    </style>
</head>

<body>

    <!-- header-start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container px-5">
            <a class="navbar-brand" href="#!"><i class="fa-solid fa-briefcase"></i> Chance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link hover-underline-animation" aria-current="page" href="{% url 'jops:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link hover-underline-animation" href="{% url 'jops:jop_list' %}">Browse Jop</a></li>
                    <li class="nav-item"><a class="nav-link hover-underline-animation" href="{% url 'jops:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link hover-underline-animation" href="{% url 'jops:roadmap' %}">Road Map</a></li>
                    <li class="nav-item"><a class="nav-link hover-underline-animation" href="{% url 'accounts:users' %}">Users</a></li>
                    <li class="nav-item"><a class="nav-link hover-underline-animation" href="{% url 'contact:contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                    {% if user.is_staff == True %}
                    <li class="mt-2">
                        <a href="{% url 'jops:add_jop' %}"><button class="btn btn-outline-success">Post a Job</button></a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle theprofileedit" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="imgprofile" style="height: 40px; width: 40px; border-radius: 50%; margin: auto;" src="{{user.profile.image.url}}">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="accounts/profile/{{user.username}}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">LogOut</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}"><button type="button" class="btn btn-secondary">Sign Up</button></a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accounts:signin' %}"><button type="button" class="btn btn-outline-secondary">Login</button></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- header-end -->

{% block body%}

{% endblock body%}

        <!-- ############################### -->
        <footer class="py-4 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Reserved Your Website By Chance Team 2023</p></div>
            <div class="text-center mt-3 thefooter">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100070098455466"><i class="fa-brands fa-facebook"></i></a>
                <a target="_blank" href="https://github.com/Abdelmaksoude"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/abdelmaqsoud-gomma-42243b224/"><i class="fa-brands fa-linkedin"></i></a>
                <a target="_blank" href="https://www.instagram.com/abdelmaksoudeid/"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- <script src="js/gijgo.min.js"></script> -->
    <script src="{% static 'js/range.js' %}"></script>



    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

        <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <!-- <script src="{% static 'js/main.js' %}"></script> -->


	<script>
        $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 24600,
                values: [ 750, 24600 ],
                slide: function( event, ui ) {
                    $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] +"/ Year" );
                }
            });
            $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
                " - $" + $( "#slider-range" ).slider( "values", 1 ) + "/ Year");
        } );


        let popup = document.getElementById("popup");
            setTimeout(function() {
                $(popup).fadeOut('fast');
            }, 3000);
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>